    <tr>
      <td><%= season.series_item %></td>
      <td><%= season.season_number %></td>
      <td><%= season.start_date %></td>
      <td><%= season.end_date %></td>
      <td><%= season.description %></td>
      <td><%= link_to "Show", season %></td>
      <td><%= link_to "Edit", edit_season_path(season) %></td>
      <td><%= link_to "Destroy", season, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>  
