    <tr>
      <td><%= season.series_item %></td>
      <td><%= season.season_number %></td>
      <td><%= season.start_date %></td>
      <td><%= season.end_date %></td>
      <td><%= season.description %></td>
    </tr>  
