<% title "Actors" %>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Description</th>
  </tr>
  <% for actor in @actors %>
    <tr>
      <td><%= actor.last_name %></td>
      <td><%= actor.first_name %></td>
      <td><%= actor.description %></td>
      <td><%= link_to "Show", actor %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Actor", new_actor_path %></p>
