
<br>
<div id="title_bar_center">
<table width="100%" height="100%">
<tr width="100%">
<td  width="50%" valign="top">
<h3>Series > Browse </h3>
</td>
<td width="50%">
<table align="right"><tr>
<td width="80px">

</td>
</tr></table>
</td>
</tr>
</table>
</div>


<div id="container">
  	<div id="main_separator" >
	<% alpha = %w[0-9 A B C D E F G H I J K L M N O P Q R S T U V W X Y Z] %>
  <script>
  	function hideall() {
   	<% for letter in alpha %>
      	$("#div_<%= letter %>").hide();
		<% end %>	
	}	
  	function showall() {
   	<% for letter in alpha %>
      	$("#div_<%= letter %>").show();
		<% end %>	
	}
	function toggleheart(id) {
	  $('#'+id+'_add').toggle() 
	  $('#'+id+'_rm').toggle() 
	}
	</script>

  <% for letter in alpha %>
     <a href="#" onclick="hideall();$('#div_<%= letter %>').toggle()"><%= letter %></a>
  <% end %>   
  <a href="#" onclick="showall()">All</a>

	</div>
  <% letter = '0-9'; %>
  		  <div id="div_0-9">
        
		  <% for series_item in @series_items.sort_by{|s| s.name.upcase } %>		
        <% curr_letter = series_item.name[0].chr.upcase %>
		  <% if curr_letter.to_i > 0 
        	 	 curr_letter = "0-9"
		     end %>
		  <% if curr_letter != letter %>
			  </div>
			  <% letter = curr_letter %>
			  <div id="div_<%= letter %>" >
		  <% end %>   
		
		  <div id="seriesname" style="font-size:18px; padding:5px">
				<%= link_to series_item.name,series_item %>
	
				<% if logged_in? %>
				<div id="hearts" align="right" style="margin-top:-25px">
					<% list_item = current_user.list_items.select{|li| li.series_item_id == series_item.id}.first %> 
               
						<div id='<%=series_item.id%>_add'>
						<%= link_to image_tag("/images/hearticon3.png", :mouseover => "/images/hearticon.png",:title=>"Follow"), {:controller => "list_items", :action => "create","list_item[series_item_id]"=>series_item.id}, :method=>:post, :onclick=>"toggleheart(#{series_item.id})",:remote=>true  %>
						</div>
					<%# else %>
						<div id='<%=series_item.id%>_rm'>
						<%= link_to image_tag("/images/hearticon.png", :mouseover => "/images/hearticon2.png",:title=>"Unfollow"), list_item, :method => :delete, :onclick=>"toggleheart(#{series_item.id})",:remote=>true %>
						</div>
					<% if list_item.nil? %>
						<script>$('#<%= series_item.id %>_rm').hide()</script> 
					<% else %>
						<script>$('#<%= series_item.id %>_add').hide()</script> 
					<% end %>
				</div>
				<% end %>	
		  	</div>
		  <% end %>
		  </div>
	  </div>   
</table>
</div>

