<br>
<div id="title_bar_center"> 
<h3> Series: <%= @series_item.name %> </h3>
</div>

<div id="container">
	<div id="gen_info_box">
		<div id="picture_holder">
	  
<% unless @series_item.image_url.nil? %>
  <%= image_tag(@series_item.image_url, :width=>200, :height=>100) %>
<% end %>  
    
		 </div>
		<br>
		<strong>Channel:</strong>
		<%= @series_item.channel %>
	</div>
<div id="episode_desc">
  <br>
  <strong>Description:</strong>
  <%= @series_item.description %>
</div>

<div style="clear:both;"></div>
<<<<<<< HEAD
=======
<p>
  <%= link_to "Edit", edit_series_item_path(@series_item) %> |
  <%= link_to "Destroy", @series_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", series_items_path %>
</p>
>>>>>>> 8854265e33a116c6e390f666c01b12253fb524c4

</div>
