<br>
<div id="title_bar_center"> 
<h3> Series: <%= @series_item.name %> </h3>
</div>

<div id="container">
	<div id="gen_info_box">
		<div id="picture_holder">
	  
<% if @series_item.image_url.nil? %>
	<%= image_tag "default_img.png" %>
 <% else %>
  <%= image_tag(@series_item.image_url, :width=>200, :height=>100) %>
<% end %>  
    
		 </div>
		<br>
		<strong>Channel:</strong>
		<%= @series_item.channel %>
	</div>
<div id="episode_desc">
  <strong>Description:</strong>
  <%= @series_item.description %>
</div>

<div style="clear:both;"></div>


</div>
