<%= form_for @episode do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :season_id %>
    <%= f.collection_select :season_id,Season.all, :id, :extended_to_s %>
  </p>
  <p>
    <%= f.label :episode_number %>
    <%= f.text_field :episode_number,:size=>5 %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :air_date %>
    <%= f.date_select :air_date %>
  </p>
  <p>
    <%= f.label :start_est %>
    <%= f.text_field :start_est %>
  </p>
  <p>
    <%= f.label :start_cst %>
    <%= f.text_field :start_cst %>
  </p>
  <p>
    <%= f.label :start_pst %>
    <%= f.text_field :start_pst %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
