<table style="width:98%;margin:auto" id="<%= episode.id %>">
<tr>
	<td style="width:150px">
		<% unless episode.picture_url.nil? %>
			<%= image_tag(episode.picture_url, :width=>100, :height=>100) %>
		<% end %>      
	</td>
	<td >
      <b><%= episode.series_item %></b>
	 
		<br/>

      <i>
			<% unless episode.name.nil? || episode.name == "" %>
				<%= episode.name %>:
			<% end %>
			
			<%= episode.season %>
			Episode <%= episode.episode_number %>
			
			<% unless episode.air_date.nil? %>
				(aired <%= episode.air_date %>)
			<% end %>
		</i>
		<br/>
      <%= episode.description_small %>
      <%= link_to "More", episode %></td>
	  <td style="width:10%">
	  
		<% if logged_in? %>
			<%= link_to image_tag("/images/hearticon.png", :mouseover => "/images/hearticon2.png",:title=>"Unfollow"), list_item, :method => :delete, :onclick=>"$('##{episode.id}').slideToggle();",:remote=>true %>
			<br />
			<%= link_to image_tag("/images/checkmarkicon.png", :mouseover=> "/images/checkmarkicon2.png",:title=>"I've seen this"), {:controller => "watched_episodes", :action => "create","watched_episode[episode_id]"=>episode.id}, :method=>:post,:onclick=>"$('##{episode.id}').slideToggle();",:remote=>true %>
		<% end %>	
</td>
</tr>
</table>
<br/>
