<table width="98%" style="margin:auto"><tr><td width=150>
<% unless episode.picture_url.nil? %>
	<img src="<%= episode.picture_url %>" width=100 height=100 />
<% end %>      </td>
	<td >
      <b><%= episode.series_item %></b>
		<% if logged_in? %>
			<%= link_to "Unfollow", list_item, :method => :delete %>
		<% end %>	
	  
		<br/>

      <i>
		
		<% unless episode.name.nil? || episode.name == "" %>
			<%= episode.name %>:
		<% end %>
		<%= episode.season %>
      Episode <%= episode.episode_number %>
		<% unless episode.air_date.nil? %>
      (aired <%= episode.air_date %>)<% end %>
		</i><br/>
      <%= episode.description_small %>
      <%= link_to "More", episode %></td>
	  <td width="10%">
	  
		<% if logged_in? %>
			<%= link_to image_tag "/images/checkmarkicon.gif", :mouseover=> "/images/checkmarkicon3.gif", :controller => "watched_episodes", :action => "create","watched_episode[episode_id]"=>episode.id, :method=>:post  %>
			<br>
			<%= link_to image_tag "/images/hearticon.gif", :mouseover => "/images/hearticon3.gif", :controller => "watched_episodes" , :confirm => 'Are you sure?', :method => :delete %>
		<% end %>	
                        </td>
<br/><br/>
