<% title "Episode" %>

<p>
  <strong>Season:</strong>
  <%= @episode.season %>
</p>
<p>
  <strong>Episode Number:</strong>
  <%= @episode.episode_number %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @episode.duration %>
</p>
<p>
  <strong>Air Date:</strong>
  <%= @episode.air_date %>
</p>
<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p> 
<p>
  <strong>IMDB id:</strong>
  <%= @episode.imdb_id %>
</p>
<p>
  <strong>Start Est:</strong>
  <%= @episode.start_est %>
</p>
<p>
  <strong>Start Cst:</strong>
  <%= @episode.start_cst %>
</p>
<p>
  <strong>Start Pst:</strong>
  <%= @episode.start_pst %>
</p>
<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <%= link_to "Edit", edit_episode_path(@episode) %> |
  <%= link_to "Destroy", @episode, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", episodes_path %>
</p>
