
<div id="title_bar_center">
<h3> <%= @episode.series %>: <%= @episode.name %> <i>(<%= @episode.season %>, Episode <%=@episode.episode_number %>)</i></h3>
</div>


<div id="container">
	<div id = "picture_holder">
		<% unless @episode.picture_url.nil? %>
			<%= image_tag(@episode.picture_url) %>
		<% end %>
	</div>

  <strong>Series:</strong>
  <%= @episode.series %>
</p> 
<p>
  <strong>Season:</strong>
  <%= @episode.season %>
</p>
<p>
  <strong>Episode Number:</strong>
  <%= @episode.episode_number %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @episode.duration %>
</p>
<p>
  <strong>Air Date:</strong>
  <%= @episode.air_date %>
</p>
<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p> 
<p>
  <strong>IMDB id:</strong>
  <%= @episode.imdb_id %>
</p>
<p>
  <strong>Start Est:</strong>
  <%= @episode.start_est %>
</p>
<p>
  <strong>Start Cst:</strong>
  <%= @episode.start_cst %>
</p>
<p>
  <strong>Start Pst:</strong>
  <%= @episode.start_pst %>
</p>
<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<p>
  <%= link_to "View All", episodes_path %>
</p>

</div>