<% title "Episode" %>

<% unless @episode.picture_url.nil? %>
<p>
  <%= image_tag(@episode.picture_url) %>
</p>
<% end %>
<p>
  <strong>Series:</strong>
  <%= @episode.series %>
</p> 
<p>
  <strong>Season:</strong>
  <%= @episode.season %>
</p>
<p>
  <strong>Episode Number:</strong>
  <%= @episode.episode_number %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @episode.duration %>
</p>
<p>
  <strong>Air Date:</strong>
  <%= @episode.air_date %>
</p>
<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p> 
<p>
  <strong>IMDB id:</strong>
  <%= @episode.imdb_id %>
</p>
<p>
  <strong>Start Est:</strong>
  <%= @episode.start_est %>
</p>
<p>
  <strong>Start Cst:</strong>
  <%= @episode.start_cst %>
</p>
<p>
  <strong>Start Pst:</strong>
  <%= @episode.start_pst %>
</p>
<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>

<% unless @ratings.length.zero? %>
  <div class="average_stars">
		<em><strong>Stars given to episode:</strong></em><br><br>
    <%= display_stars(@episode.average_stars).html_safe %>
    (<%= sprintf "%.1f", @episode.average_stars %>)
  </div>
<% end %>

<%= render :partial => "stars_form" %>

<p>
  <%= link_to "View All", episodes_path %>
</p>
