<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Episode</th>
    <th>Stars</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.episode_id %></td>
    <td><%= rating.stars %></td>
<<<<<<< HEAD
=======
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, :confirm => 'Are you sure?', :method => :delete %></td>
>>>>>>> 8854265e33a116c6e390f666c01b12253fb524c4
  </tr>
<% end %>
</table>

<br />
<<<<<<< HEAD
=======

<%= link_to 'New Rating', new_rating_path %>
>>>>>>> 8854265e33a116c6e390f666c01b12253fb524c4
