<tr>
  <td><%= list_item.series_item %></td>
  <td><%= list_item.watched %></td>
  <td><%= link_to "Show", list_item %></td>
  <td><%= link_to "Edit", edit_list_item_path(list_item) %></td>
  <td><%= link_to "Destroy", list_item, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
