<%= form_for @list_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :series %>
    <%= f.collection_select :series_item_id,SeriesItem.all, :id, :to_s %>
  </p>
  <p>
    <%= f.label :watched %>
    <%= f.check_box :watched %>
  </p>
  <p><%= f.submit %></p>
<% end %>
