<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "TV Tracker" %></title>
	 <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application" %>
	 <style>
	 
	 a{text-decoration:none;padding:3px}

	.butta{
		padding: 4px;
		font-size:14px;
		font-family:Trebuchet MS,sans-serif;
		text-align: center;
		font-weight:bold;
		background-color:#D9E2FA;
		border:3px solid #D9E2FA;
		border-radius: 10px;
		}
		
	.buttovera{
		padding: 4px;
		text-align: center;
		font-size:14px;
		font-family:Trebuchet MS,sans-serif;
		font-weight:bold;
		background-color:#999999;
		border:3px solid #999999;
		border-radius: 10px;
		}
		
	.buttdowna{
		padding: 4px;
		text-align: center;
		font-size:14px;
		font-family:Trebuchet MS,sans-serif;
		font-weight:bold;
		background-color:#999999;
		border:3px solid #999999;
		border-radius: 10px;
		}
	</style>
 
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "tablesorter" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  <script>
  function clear_search(box) {
  	if(box.value == "Search TV Tracker") {
   	box.value = ""
	}
  }
//from http://tablesorter.com/docs/example-trigger-sort.html
	$(document).ready(function() { 
		 $("table").tablesorter(); 

		 //sort the table on the home page through invisible table headings
		 $("#trigger-air-date").click(function() { 
			  if(typeof arguments.callee.order == "undefined") {
           	arguments.callee.order = 0;
			  }
			  else {
				  //turns 0 to 1, and 1 into 0
           	arguments.callee.order = 1-arguments.callee.order;
			  }
			  // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
			  var sorting = [[0,arguments.callee.order]]; 
			  // sort on the first column 
			  $("table").trigger("sorton",[sorting]); 
			  // return false to stop default link action 
			  return false; 
		 }); 
		 $("#trigger-title").click(function() { 
			  if(typeof arguments.callee.order == "undefined") {
           	arguments.callee.order = 0;
			  }
			  else {
				  //turns 0 to 1 and 1 into 0
           	arguments.callee.order = 1-arguments.callee.order;
			  }
			  // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
			  var sorting = [[1,arguments.callee.order]];   		  // sort on the first column 
			  $("table").trigger("sorton",[sorting]); 
			  // return false to stop default link action 
			  return false; 
		 }); 
	});
</script>

  </head>
  <body>	
	<% unless production? %>
		<%= render :partial => '/home/dev_menu' %>
	<% end %>
<br/> 
	<div id="header">
	</div>
	<div id="mainmenubar">

<script>
function ichanged(what) {
  var url = "/searches?search="+what.value+"&commit=Go%21 #searchResults";
  $('#gobutton').val("Going");

  $('#container').load(url, function() {
		  $('#gobutton').val("Go!");
		  $('#title_bar_center').hide();
//	    alert('Load was performed.');
  });

}
</script>

<span style="padding:20px;display:inline;float:right">
                <form action='<%= searches_path %>' method='get'>
						 <input id="search" maxlength="100" name="search" onclick="clear_search(this)" type="text" value="Search TV Tracker"/>
						 <%= submit_tag("Go!",:id=>'gobutton') %>
					 </form>
					 </span>
		<%= link_to image_tag("/images/homeicon.png", :height=>'55px', :title => "Home", :mouseover => "/images/homeicon2.png"), "/" %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("/images/searchicon.png", :height=>'55px',:title => "All Series", :mouseover => "/images/searchicon2.png"),"/series_items" %>
		
<!--	&nbsp;&nbsp;&nbsp;&nbsp; -->
		&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag"/images/calendaricon.png", :height=>'55px',:title => "Calender", :mouseover => "/images/calendaricon2.png" %>
		<br /><br />
	</div>
		
	<div id="sign_in_wrapper">
					<table id="sign_in">
						<tr>
							<td id="sign_in_left"></td>
							<td id="sign_in_middle">					
								<% if logged_in? -%>
								Welcome <%= current_user.username %>  | 
								<%= link_to "Log out", logout_path%>
							    <% else -%>
									<%= form_tag sessions_path do -%>
							        <%= label_tag :login, "Username"  %>
							        <%= text_field_tag :login, params[:login] %>
							        <%= label_tag :password %>
									<%= password_field_tag :password %>
									<%= submit_tag "Log in" %>
							        <%= link_to 'Register', signup_path %>
									<% end -%>
								<% end -%>
							</td>
							<td id="sign_in_right"></td>
						</tr>
					</table>	
		</div>      
      <% flash.each do |name, msg| %>
        <% content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
  </body>
</html>
