<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "TV Tracker" %></title>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
    <%= javascript_include_tag "tablesorter" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  <script>
//from http://tablesorter.com/docs/example-trigger-sort.html
	$(document).ready(function() { 
		 $("table").tablesorter(); 

		 //sort the table on the home page through invisible table headings
		 $("#trigger-air-date").click(function() { 
			  if(typeof arguments.callee.order == "undefined") {
           	arguments.callee.order = 0;
			  }
			  else {
				  //turns 0 to 1, and 1 into 0
           	arguments.callee.order = 1-arguments.callee.order;
			  }
			  // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
			  var sorting = [[0,arguments.callee.order]]; 
			  // sort on the first column 
			  $("table").trigger("sorton",[sorting]); 
			  // return false to stop default link action 
			  return false; 
		 }); 
		 $("#trigger-title").click(function() { 
			  if(typeof arguments.callee.order == "undefined") {
           	arguments.callee.order = 0;
			  }
			  else {
				  //turns 0 to 1 and 1 into 0
           	arguments.callee.order = 1-arguments.callee.order;
			  }
			  // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
			  var sorting = [[1,arguments.callee.order]];   		  // sort on the first column 
			  $("table").trigger("sorton",[sorting]); 
			  // return false to stop default link action 
			  return false; 
		 }); 
	});
</script>

  </head>
  <body>	
	<style>a{text-decoration:none;padding:3px}</style>
	<% unless production? %>
		<%= render :partial => '/home/dev_menu' %>
	<% end %>
<br/> 
	<div id="header">
	</div>
	<div id="mainmenubar">
	&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("/images/home2.gif", :height=>'53px',:alt => "Home") %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("/images/list.gif", :height=>'50px',:alt => "All Series"),"/series_items" %>
		
	&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("/images/Find.png", :height=>'50px',:alt => "Search"),"#" %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("/images/Calendar.png", :height=>'50px',:alt => "Calender"),"#" %>
		<br /><br />
	</div>
		
	<div id="sign_in_wrapper">
					<table id="sign_in">
						<tr>
							<td id="sign_in_left"></td>
							<td id="sign_in_middle">					
								<% if logged_in? -%>
								Welcome <%= current_user.username %>  | 
								<%= link_to "Log out", logout_path%>
							    <% else -%>
									<%= form_tag sessions_path do -%>
							        <%= label_tag :login, "Username"  %>
							        <%= text_field_tag :login, params[:login] %>
							        <%= label_tag :password %>
									<%= password_field_tag :password %>
									<%= submit_tag "Log in" %>
							        <%= link_to 'Register', signup_path %>
									<% end -%>
								<% end -%>
							</td>
							<td id="sign_in_right"></td>
						</tr>
					</table>	
		</div>      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
  </body>
</html>
