<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<style>a{text-decoration:none;padding:3px}</style>
<%
   controllers = Dir.new("#{RAILS_ROOT}/app/controllers").entries
   last = ""
   bad_controllers = ["sessions","application","users","home"];
                      
   %>                  

     <table><tr><td style="border:1px solid black;padding:3px"><%
   controllers.sort{|a,b| a.to_s.upcase <=> b.to_s.upcase}.each do |control|
      if control =~ /_controller/ && 
         !bad_controllers.map{|c| "#{c}_controller.rb"}.include?(control)
         control.gsub!(".rb","")
         control.gsub!("_controller","")

         if last != ""
            if control[0..3] != last
               %></td><td style="border:1px solid black"><%
            else
               %><br/><%
            end   
         end

   show = control.clone
   show.gsub!("_items","")


   %><%= link_to show.camelize, :controller => control, :action => "index"
   %> <%

         last = control[0..3]
      end 
   end 
%></tr></table>   
<br/> 
		<div id="mainmenubar">
			<a href="/"><img src="/images/homeicon.gif"/></a> &nbsp;&nbsp;
			<img src="/images/searchicon.gif"/>&nbsp;&nbsp;
			<img src="/images/calendaricon.gif"/><br><br>
			</div>
			<br>
   <div style="float:right">
      <% if logged_in? %>
         Welcome <%= current_user.username %>! 
         <%= link_to "Log out", logout_path %>
         <br/><br/>
      <% else %>
         <%= link_to "Sign up", signup_path %> or
         <%= link_to "Log in", login_path %>.
      <% end %>    
   </div>      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
  </body>
</html>
